<section class="as-wrapper row">
  <div
    class="as-login-wrapper col-10 col-sm-8 col-md-5 col-lg-4"
  >
    <h1 class="text-center as-title">Ascenda RTR</h1>
    <p class="text-center as-desc mt-3">Welcome to Ascenda RTR. Please sign in to the application.</p>
    <p class="text-center as-desc mt-3">The below features are available in the application.</p>
    <ul class="as-ins-list mt-4">
      <li class="as-ins-list__item">
        <span class="as-ins-list__circle">1</span>
        <p class="as-desc">Login page</p>
      </li>
      <li class="as-ins-list__item">
        <span class="as-ins-list__circle">2</span>
        <p class="as-desc">Dashboard page</p>
      </li>
      <li class="as-ins-list__item">
        <span class="as-ins-list__circle">3</span>
        <p class="as-desc">View localstorage in the dashboard</p>
      </li>
    </ul>
    <button
      mat-flat-button
      color="primary"
      class="as-btn as-btn--width-100 mt-5"
      type="button"
      (click)="loginHandler()"
    >
      SIGN IN
    </button>
  </div>
</section>
